<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Kurento Loopback Test</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="icon" href="data:,">
</head>
<body>
<h1>Kurento Loopback Test</h1>
<video id="localVideo" autoplay muted></video>
<video id="remoteVideo" autoplay></video>
<div id="dataContainer" th:data-roomid="${roomId}" th:data-username="${userName}" style="display:none;"></div>
<script th:src="@{/js/loopback-test.js}"></script>
</body>
</html>
