<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Video Conference</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Video Conference Room</h1>
<video id="localVideo" autoplay muted></video>
<div id="remoteVideos"></div>
<div id="dataContainer" th:data-roomid="${roomId}" th:data-username="${userName}" style="display:none;"></div>
<button onclick="leaveRoom()">Leave Room</button>
<script th:src="@{/js/conference.js}"></script>
</body>
</html>
